<nav>
  <h1>Menu</h1>
  <ul id="NAV">
    <li id="ctg">
      Acessórios
      <!--Categoria 1 C-->
      <ul>
        <li>
          <a routerLinkActive="active" routerLink="home/acessorios-chapeus" href=""
            >Chápeus</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="home/acessorios-relogios" href="" >Relógios</a
          >
        </li>
        <li><a routerLinkActive="active" routerLink="home/acessorios-cintos" href=""
          >Cintos</a></li>
        <li><a routerLinkActive="active" routerLink="home/acessorios-brincos" href=""
          >Brincos</a></li>
        <li><a routerLinkActive="active" routerLink="home/acessorios-colares" href=""
          >Colares</a></li>
        <li><a routerLinkActive="active" routerLink="home/acessorios-aneis" href=""
          >Anéis</a></li>
        <li><a routerLinkActive="active" routerLink="home/acessorios-pulseiras" href=""
          >Pulseiras</a></li>
        <li><a routerLinkActive="active" routerLink="home/acessorios-cachecois" href=""
          >Cachecóis</a></li>
        <li><a routerLinkActive="active" routerLink="home/acessorios-presilhas" href=""
          >Presilhas</a></li>
        <li><a routerLinkActive="active" routerLink="home/acessorios-bolsas" href=""
          >Bolsas</a></li>
      </ul>
    </li>

    <li id="ctg">
      Óculos
      <!--Categoria 2 C-->
      <ul>
        <li><a routerLinkActive="active" routerLink="home/oculos-retangular" href=""
          >Retangular</a></li>
        <li><a routerLinkActive="active" routerLink="home/oculos-redondo" href=""
          >Redondo</a></li>
        <li><a routerLinkActive="active" routerLink="home/oculos-quadrado" href=""
          >Quadrado</a></li>
        <li><a routerLinkActive="active" routerLink="home/oculos-oval" href=""
          >Oval</a></li>
        <li><a routerLinkActive="active" routerLink="home/oculos-aviador" href=""
          >Aviador</a></li>
        <li><a routerLinkActive="active" routerLink="home/oculos-gatinho" href=""
          >Gatinho</a></li>
        <li><a routerLinkActive="active" routerLink="home/oculos-flat" href=""
          >Flat</a></li>
        <li><a routerLinkActive="active" routerLink="home/oculos-hexagonal" href=""
          >Hexagonal</a></li>
        <li><a routerLinkActive="active" routerLink="home/oculos-meia-armacao" href=""
          >Meia armação</a></li>
        <li><a routerLinkActive="active" routerLink="home/oculos-borboleta" href=""
          >Borboleta</a></li>
      </ul>
    </li>

    <li id="ctg">
      Camisetas
      <!--Categoria 3 C-->
      <ul>
        <li><a routerLinkActive="active" routerLink="home/camisetas-golav" href="" >Gola V</a></li>
        <li><a routerLinkActive="active" routerLink="home/camisetas-golaalta" href="" >Gola Alta</a></li>
        <li><a routerLinkActive="active" routerLink="home/camisetas-comestampa" href="" >Com Estampa</a></li>
        <li><a routerLinkActive="active" routerLink="home/camisetas-semestampa" href="" >Sem Estampa</a></li>
        <li><a routerLinkActive="active" routerLink="home/camisetas-mangacurta" href="" >Manga Curta</a></li>
        <li><a routerLinkActive="active" routerLink="home/camisetas-listras" href="" >Listras</a></li>
        <li><a routerLinkActive="active" routerLink="home/camisetas-dipdye" href="" >Dip Dye</a></li>
        <li><a routerLinkActive="active" routerLink="home/camisetas-esportiva" href="" >Esportiva</a></li>
        <li><a routerLinkActive="active" routerLink="home/camisetas-brancabasica" href="" >Branca Básica</a></li>
        <li><a routerLinkActive="active" routerLink="home/camisetas-pretabasica" href="" >Preta Básica</a></li>
      </ul>
    </li>

    <li id="ctg">
      Blusas
      <!--Categoria 4 C-->
      <ul>
        <li><a routerLinkActive="active" routerLink="home/blusas-semmanga" href="" >Sem manga</a></li>
        <li><a routerLinkActive="active" routerLink="home/blusas-mangacomprida" href="" >Manga comprida</a></li>
        <li><a routerLinkActive="active" routerLink="home/blusas-mangacurta" href="" >Manga Curta</a></li>
        <li><a routerLinkActive="active" routerLink="home/blusas-comcapuz" href="" >Com capuz</a></li>
        <li><a routerLinkActive="active" routerLink="home/blusas-semcapuz" href="" >Sem capuz</a></li>
        <li><a routerLinkActive="active" routerLink="home/blusas-comestampa" href="" >Com Estampa</a></li>
        <li><a routerLinkActive="active" routerLink="home/blusas-semestampa" href="" >Sem Estampa</a></li>
        <li><a routerLinkActive="active" routerLink="home/blusas-fullprint" href="" >FullPrint</a></li>
        <li><a routerLinkActive="active" routerLink="home/blusas-brancabasica" href="" >Branca Básica</a></li>
        <li><a routerLinkActive="active" routerLink="home/blusas-pretobasico" href="" >Preto Básico</a></li>
      </ul>
    </li>

    <li id="ctg">
      Calças
      <!--Categoria 5 C-->
      <ul>
        <li><a routerLinkActive="active" routerLink="home/calcas-curta" href="" >Curta</a></li>
        <li><a routerLinkActive="active" routerLink="home/calcas-jeans" href="" >Jeans</a></li>
        <li><a routerLinkActive="active" routerLink="home/calcas-moletom" href="" >Moletom</a></li>
        <li><a routerLinkActive="active" routerLink="home/calcas-cropped" href="" >Cropped</a></li>
        <li><a routerLinkActive="active" routerLink="home/calcas-reta" href="" >Reta</a></li>
        <li><a routerLinkActive="active" routerLink="home/calcas-slouchy" href="" >Slouchy</a></li>
        <li><a routerLinkActive="active" routerLink="home/calcas-clochard" href="" >Clochard</a></li>
        <li><a routerLinkActive="active" routerLink="home/calcas-jogger" href="" >Jogger</a></li>
        <li><a routerLinkActive="active" routerLink="home/calcas-skinny" href="" >Skinny</a></li>
        <li><a routerLinkActive="active" routerLink="home/calcas-chino" href="" >Chino</a></li>
      </ul>
    </li>

    <li id="ctg">
      Vestidos
      <!--Categoria 6 C-->
      <ul>
        <li><a routerLinkActive="active" routerLink="home/vestidos-tomara-que-caia" href="" >Tomara que-caia</a></li>
        <li><a routerLinkActive="active" routerLink="home/vestidos-decote-em-v" href="" >Decote em "V"</a></li>
        <li><a routerLinkActive="active" routerLink="home/vestidos-decote-em-u" href="" >Decote em "U"</a></li>
        <li><a routerLinkActive="active" routerLink="home/vestidos-decote-nas-costas" href="" >Decote Nas Costas</a></li>
        <li><a routerLinkActive="active" routerLink="home/vestidos-assimetrico" href="" >Assimétrico</a></li>
        <li><a routerLinkActive="active" routerLink="home/vestidos-frente-unica" href="" >Frente Única</a></li>
        <li><a routerLinkActive="active" routerLink="home/vestidos-gola-alta" href="" >Gola alta</a></li>
        <li><a routerLinkActive="active" routerLink="home/vestidos-quadrado" href="" >Quadrado</a></li>
        <li><a routerLinkActive="active" routerLink="home/vestidos-coracao" href="" >Coração</a></li>
        <li><a routerLinkActive="active" routerLink="home/vestidos-canoa" href="" >Canoa</a></li>
      </ul>
    </li>

    <li id="ctg">
      Bermudas
      <!--Categoria 7 C-->
      <ul>
        <li><a routerLinkActive="active" routerLink="home/bermudas-jeans" href="" >Jeans</a></li>
        <li><a routerLinkActive="active" routerLink="home/bermudas-chino" href="" >Chino</a></li>
        <li><a routerLinkActive="active" routerLink="home/bermudas-alfaiataria" href="" >Alfaiataria</a></li>
        <li><a routerLinkActive="active" routerLink="home/bermudas-cargo" href="" >Cargo</a></li>
        <li><a routerLinkActive="active" routerLink="home/bermudas-moletom" href="" >Moletom</a></li>
        <li><a routerLinkActive="active" routerLink="home/bermudas-sinteticas" href="" >Sintéticas</a></li>
        <li><a routerLinkActive="active" routerLink="home/bermudas-tactel" href="" >Tactel</a></li>
        <li><a routerLinkActive="active" routerLink="home/bermudas-poliester" href="" >Poliéster</a></li>
        <li><a routerLinkActive="active" routerLink="home/bermudas-sarja" href="" >Sarja</a></li>
        <li><a routerLinkActive="active" routerLink="home/bermudas-chambray" href="" >Chambray</a></li>
      </ul>
    </li>

    <li id="ctg">
      Saias
      <!--Categoria 8 C-->
      <ul>
        <li><a routerLinkActive="active" routerLink="home/saias-evase" href="" >Evasé</a></li>
        <li><a routerLinkActive="active" routerLink="home/saias-lapis" href="" >Lápis</a></li>
        <li><a routerLinkActive="active" routerLink="home/saias-pregas" href="" >Pregas</a></li>
        <li><a routerLinkActive="active" routerLink="home/saias-envelope" href="" >Envelope</a></li>
        <li><a routerLinkActive="active" routerLink="home/saias-dropeada" href="" >Dropeada</a></li>
        <li><a routerLinkActive="active" routerLink="home/saias-assimetrica" href="" >Assimétrica</a></li>
        <li><a routerLinkActive="active" routerLink="home/saias-balao" href="" >Balão</a></li>
        <li><a routerLinkActive="active" routerLink="home/saias-tracada" href="" >Traçada</a></li>
        <li><a routerLinkActive="active" routerLink="home/saias-enviesada" href="" >Enviesada</a></li>
        <li><a routerLinkActive="active" routerLink="home/saias-mini" href="" >Mini</a></li>
      </ul>
    </li>

    <li id="ctg">
      Sapatos Masculinos
      <!--Categoria 9-->
      <ul>
        <li><a routerLinkActive="active" routerLink="home/sapatos-masculinos-brogue" href="" >Brogue</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-masculinos-botas" href="" >Botas</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-masculinos-tenis-casual" href="" >Tênis Casual</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-masculinos-mocassim" href="" >Mocassim</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-masculinos-sandalias" href="" >Sandálias</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-masculinos-sapatenis" href="" >Sapatênis</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-masculinos-loafer" href="" >Loafer</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-masculinos-oxford" href="" >Oxford</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-masculinos-dockside" href="" >Dockside</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-masculinos-derby" href="" >Derby</a></li>
      </ul>
    </li>

    <li id="ctg">
      Sapatos Femininos
      <!--Categoria 10-->
      <ul>
        <li><a routerLinkActive="active" routerLink="home/sapatos-femininos-sandalias" href="" >Sandálias</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-femininos-botas" href="" >Botas</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-femininos-sapatilhas" href="" >Sapatilhas</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-femininos-salto-grosso" href="" >Salto Grosso</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-femininos-salto-fino" href="" >Salto Fino</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-femininos-anabelas" href="" >Anabelas</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-femininos-rasteirinhas" href="" >Rasteirinhas</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-femininos-mocassim" href="" >Mocassim</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-femininos-peep-toe" href="" >Peep Toe</a></li>
        <li><a routerLinkActive="active" routerLink="home/sapatos-femininos-gladiador" href="" >Gladiador</a></li>
      </ul>
    </li>
  </ul>
  <div id="rbd">
  <router-outlet></router-outlet>
  </div>
</nav>
